{:paths   ["src/main" "classes"]
 :aliases {:aot   {:extra-paths ["src/aot"]}
           :build {:extra-deps {io.github.seancorfield/build-clj {:git/tag "v0.1.2" :git/sha "0719a09"}}
                   :ns-default build}
           :2.12  {:extra-deps {org.scala-lang/scala-library  {:mvn/version "2.12.13"}
                                org.scala-lang/scala-reflect  {:mvn/version "2.12.13"}
                                org.scala-lang/scala-compiler {:mvn/version "2.12.13"}}}
           :2.13  {:extra-deps {org.scala-lang/scala-library  {:mvn/version "2.13.6"}
                                org.scala-lang/scala-reflect  {:mvn/version "2.13.6"}
                                org.scala-lang/scala-compiler {:mvn/version "2.13.6"}}}
           :codox {:extra-deps {codox/codox {:mvn/version "0.10.7"}}
                   :exec-fn    codox.main/generate-docs
                   :exec-args  {:source-paths ["src"]
                                :doc-paths    ["doc_src"]
                                :output-path  "docs"
                                :metadata     {:doc/format :markdown}}}
           :test  {:extra-paths ["test"]
                   :extra-deps  {expectations/clojure-test   {:mvn/version "1.2.1"}
                                 pjstadig/humane-test-output {:mvn/version "0.11.0"}
                                 com.cognitect/test-runner   {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                              :sha     "8c3f22363d63715de4087b038d79ae0de36a3263"}}
                   :main-opts   ["-m" "cognitect.test-runner"]
                   :exec-fn     cognitect.test-runner.api/test}}}
