{:paths   ["src"]
 :aliases {:2.12           {:extra-deps {org.scala-lang/scala-library  {:mvn/version "2.12.13"}
                                         org.scala-lang/scala-reflect  {:mvn/version "2.12.13"}
                                         org.scala-lang/scala-compiler {:mvn/version "2.12.13"}}}
           :2.13           {:extra-deps {org.scala-lang/scala-library  {:mvn/version "2.13.6"}
                                         org.scala-lang/scala-reflect  {:mvn/version "2.13.6"}
                                         org.scala-lang/scala-compiler {:mvn/version "2.13.6"}}}
           :build          {:deps       {io.github.clojure/tools.build {:git/tag "v0.1.7" :git/sha "8a3abc2"}}
                            :ns-default build}
           :test           {:extra-paths ["test"]
                            :extra-deps  {expectations/clojure-test {:mvn/version "RELEASE"}}}
           :test/cognitect {:extra-deps {pjstadig/humane-test-output {:mvn/version "0.11.0"}
                                         com.cognitect/test-runner   {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                      :sha     "8c3f22363d63715de4087b038d79ae0de36a3263"}}
                            :main-opts  ["-m" "cognitect.test-runner"]
                            :exec-fn    cognitect.test-runner.api/test}}}
